<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico">
  <title>SMMS</title>
  <link rel="stylesheet" href="index.css" />
</head>
<body>

<div id="root"></div>

<noscript>
  此页面需要开启 JavaScript
</noscript>

</body>
</html>
